<form class="form" action="" method="post">
    <table>
        <tr>
            <th class="{{status}}"><u>Sunday</u><br>
                {{#each sunday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
            <th class="{{status}}"><u>Monday</u><br>
                {{#each monday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
            <th class="{{status}}"><u>Tuesday</u><br>
                {{#each tuesday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
            <th class="{{status}}"><u>Wednesday</u><br>
                {{#each wednesday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
            <th class="{{status}}"><u>Thursday</u><br>
                {{#each thursday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
            <th class="{{status}}"><u>Friday</u><br>
                {{#each friday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
            <th class="{{status}}"><u>Saturday</u><br>
                {{#each saturday}}
                    <p>{{this}}</p>
                {{/each}}
            </th>
        </tr>
    </table>
</form>
